<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alkoinfo | Prishistorik för Systembolagets produkter</title>
  <link rel="stylesheet" href="style.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZXBS4BQYW2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-ZXBS4BQYW2');
  </script>
</head>
<body>
  <main id="main">
    <h1>Alkoinfo | Prishistorik för Systembolaget</h1>
    <p>Produkter uppdaterade de senaste 7 dagarna:</p>
    <% updated.forEach(function (product) { %>
      <div class="product">
        <h3><a href="https://alkoinfo.emrik.org/product.html?id=<%=product.productNumber%>">
        <b><%= product.productNameBold%></b>
        <%= product.productNameThin != null ? " " + product.productNameThin : ""%></a></h3>
        <p><%= product.customCategoryTitle %> - <%= product.price %> kr - <%= product.volumeText %> - <%= product.alcoholPercentage %> %</p>
        <p>Uppdaterad: <%= (new Date(product.changedDate).toISOString()).split("T")[0] %></p>
      </div>
    <% }) %>
  </main>
  <footer>
    <p>
      Källkoden finns på
      <a href="https://github.com/C4illin/Alkoinfo"> github.com/C4illin/Alkoinfo</a>
    </p>
  </footer>
  <script src="main.js"></script>
</body>
</html>