<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alkoinfo | Prishistorik för Systembolagets produkter</title>
  <link rel="stylesheet" href="style.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta property="og:title" content="Alkoinfo" />
  <meta name="author" content="Emrik" />
  <meta property="og:locale" content="sv_SE" />
  <meta name="description" content="Prishistorik för Systembolagets produkter" />
  <meta property="og:description" content="Prishistorik för Systembolagets produkter" />
  <link rel="canonical" href="https://alkoinfo.emrik.org/" />
  <meta property="og:url" content="https://alkoinfo.emrik.org/" />
  <meta property="og:site_name" content="Alkoinfo" />
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary" />
  <meta property="twitter:title" content="Alkoinfo" />
  <script type="application/ld+json"> {"@context":"https://schema.org","@type":"WebSite","author":{"@type":"Person","name":"Emrik","url":"https://emrik.org"},"dateModified":"<%= new Date().toISOString() %>","description":"Prishistorik för Systembolagets produkter","headline":"Alkoinfo","name":"C4illin","publisher":{"@type":"Organization","logo":{"@type":"ImageObject","url":"https://alkoinfo.emrik.org/android-chrome-512x512.png"},"name":"Emrik"},"sameAs":["https://github.com/C4illin"],"url":"https://alkoinfo.emrik.org/"}</script>
  <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//matomo.emrik.org/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '6']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->
</head>
<body>
  <main id="main">
    <h1>Alkoinfo | Prishistorik för Systembolaget</h1>
    <p>Produkter uppdaterade de senaste 7 dagarna på systembolaget. Klicka på produktnamnet för att se prishistorik.</p>
    <hr id="start-hr">
    <% updated.forEach(function (product) { %>
      <div class="product">
          <% if (product.images && product.images.length > 0) { %>
            <a href="product.html?id=<%=product.productNumber%>" class="img-wrapper"><img src="<%= product.images[0].imageUrl %>_100.png?q=75&w=2000" alt="Produktbild" loading="lazy"></a>
          <% } else if (product.categoryLevel1 == "Vin") { %>
            <a href="product.html?id=<%=product.productNumber%>" class="img-wrapper"><img src="placeholder-wine-bottle.png" alt="Generisk produktbild för en vinflaska" loading="lazy"></a>
          <% } else if (product.categoryLevel1 == "Öl" || product.categoryLevel1 == "Cider & blanddrycker") { %>
            <a href="product.html?id=<%=product.productNumber%>" class="img-wrapper"><img src="placeholder-beer-bottle.png" alt="Generisk produktbild för en ölburk" loading="lazy"></a>
          <% } else if (product.categoryLevel1 == "Sprit") { %>
            <a href="product.html?id=<%=product.productNumber%>" class="img-wrapper"><img src="placeholder-casque.png" alt="Generisk produktbild för ett fat" loading="lazy"></a>
          <% } else { %>
            <a href="product.html?id=<%=product.productNumber%>" class="img-wrapper"><img src="placeholder-gift-bags.png" alt="Generisk produktbild för en presentpåse" loading="lazy"></a>
          <% } %>
        <div class="text-wrapper">
          <h3><a href="product.html?id=<%=product.productNumber%>">
          <b><%= product.productNameBold%></b>
          <%= product.productNameThin != null ? " " + product.productNameThin : ""%></a></h3>
          <p class="category"><%= product.customCategoryTitle %></p>
          <p class="info"><%= product.price %> kr | <%= product.volumeText %> | <%= product.alcoholPercentage %> %</p>
          <% if (product.reason) { %>
            <% if (product.reason == "Ny produkt.") { %>
              <p> Ny produkt, släpps: <%=product.productLaunchDate.split("T")[0]%></p>
            <% } else { %>
              <p><%= product.reason %></p>
            <% } %>
          <% } %>
          <p>Uppdaterad: <%= (new Date(product.changedDate+3600000).toISOString()).split("T")[0] %></p>
        </div>
      </div>
    <% }) %>
  </main>
  <footer>
    <p>
      Källkoden finns på
      <a href="https://github.com/C4illin/Alkoinfo"> github.com/C4illin/Alkoinfo</a>
    </p>
  </footer>
</body>
</html>
